* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1509fa;
  color: #333;
}

header {
  background-color: #ff0000;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}

.product-card img {
  width: 100%;
  height: auto;
}

button {
  margin-top: 10px;
  padding: 12px 15px;
  background-color: #ff0000;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #ff0000;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}

p{
  text-align: center;
  text-decoration: #ddd;
  margin-top:30px;
}
